.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}